@import url(https://fonts.google.com/specimen/Inter);
@import url(https://fonts.google.com/specimen/Lexend+Deca);

h1{
    font-family: 'Inter',sans-serif;
    font-weight: 700;
}

p{
    font-family: 'Lexend+Deca','Courier New', Courier, monospace;
}

.container{
    display: flex;
    height: auto;
    
}

img{
    opacity: 0.3;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    width: 400px;
}

.text{
    color:white;
    padding: 40px;
    width: 400px;
    background-color: hsl(244, 38%, 16%);
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px; 
}

section{
    background-color: hsl(233, 47%, 7%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.centr{
    display: flex;
    justify-content: space-between;
}

span{
    font-weight: bold;
}