body{
    background-color: hsl(233, 47%, 7%);
    color: white;

}

.container{
    padding: 50px;
    width: 300px;
    background-color: hsl(244, 38%, 16%);
}

section{
    margin-top: 200px;
    display: flex;
    justify-content: center;
    height: 300px;
}